.headerFont {
  font-size: larger;
  font-weight: bolder;
  font-family: 'Shadows Into Light', cursive;
}

.bookList {
  font-family: 'Indie Flower', cursive;
  font-size: larger;
  font-weight: bolder;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0px;
  align-items: center;
}

.header span {
  display: flex;
  flex-direction: row;
  align-items: center;
}
